<table class="table table-bordered table-sm bg-white shuffle-table">
	<thead class="thead-light">
		<tr>
			<th width="33%">Mascus</th>
			<th width="33%">Auto Mart</th>
			<th width="33%">Auto Mart</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>DealerProductID<div class="badge badge-light float-right">521</div></td>
			<td>
				<ol data-draggable="target">
					<li data-draggable="item">ID</li>
				</ol>
			</td>
			<td><div class="badge badge-light">521</div></td>
		</tr>
		<tr>
			<td>Name<div class="badge badge-light float-right">HINO-Cruiser</div></td>
			<td>
				<ol data-draggable="target">
					<li data-draggable="item">Name</li>
					<li data-draggable="item">Year</li>
				</ol>
			</td>
			<td><div class="badge badge-light">HINO-Cruiser-2007</div></td>
		</tr>
		<tr>
			<td>QCategoryName<div class="badge badge-light float-right">Truck Tractors</div></td>
			<td>
				<ol data-draggable="target">
					<li data-draggable="item">CategoryNumber</li>
				</ol>
			</td>
			<td><div class="badge badge-light">Truck Tractors</div></td>
		</tr>
		<tr>
			<td>InternalStockNumber<div class="badge badge-light float-right">RAVT101</div></td>
			<td>
				<ol data-draggable="target">
					<li data-draggable="item">StockNumber</li>
				</ol>
			</td>
			<td><div class="badge badge-light">RAVT101</div></td>
		</tr>
		<tr>
			<td>Brand<div class="badge badge-light float-right">HINO</div></td>
			<td>
				<ol data-draggable="target">
					<li data-draggable="item">Brand</li>
				</ol>
			</td>
			<td><div class="badge badge-light">HINO</div></td>
		</tr>
		<tr>
			<td>Model<div class="badge badge-light float-right">HINO 57-450 PROFIA (6X4)</div></td>
			<td>
				<ol data-draggable="target">
					<li data-draggable="item">ItemModel</li>
				</ol>
			</td>
			<td><div class="badge badge-light">HINO 57-450 PROFIA (6X4)</div></td>
		</tr>
		<tr>
			<td>MeterReadoutHours<div class="badge badge-light float-right">285000</div></td>
			<td>
				<ol data-draggable="target">
					<li data-draggable="item">OdoHours</li>
				</ol>
			</td>
			<td><div class="badge badge-light">285000</div></td>
		</tr>
		<tr>
			<td>Location<div class="badge badge-light float-right">DURBAN</div></td>
			<td>
				<ol data-draggable="target">
					<li data-draggable="item">Location</li>
				</ol>
			</td>
			<td><div class="badge badge-light">DURBAN</div></td>
		</tr>
		<tr>
			<td>YearOfManufacture<div class="badge badge-light float-right">2007</div></td>
			<td>
				<ol data-draggable="target">
					<li data-draggable="item">Year</li>
				</ol>
			</td>
			<td><div class="badge badge-light">2007</div></td>
		</tr>
		<tr>
			<td>AttachmentPath1<div class="badge badge-light float-right">item/5/ravt101.jpg</div></td>
			<td>
				<ol data-draggable="target">
					<li data-draggable="item">Image1</li>
				</ol>
			</td>
			<td><div class="badge badge-light">item/5/ravt101.jpg</div></td>
		</tr>
	</tbody>
	<tfoot class="thead-light">
		<tr>
			<th>&nbsp;</th>
			<th>Unused</th>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<ol data-draggable="target">
					<li data-draggable="item">VR Photo</li>
					<li data-draggable="item">Video</li>
					<li data-draggable="item">Description</li>
				</ol>
			</td>
			<td>&nbsp;</td>
		</tr>
	</tfoot>
</table>


<script src="~/js/shuffle.js"></script>
<script>
	$(document).ready(function(){
	    $(".shuffle-table li").append(" <i class='fas fa-arrows-alt mx-2'></i>");
	}); 
</script>