<footer class="py-4 bg-dark">
	<div class="container text-center">
		<div><i class="icon-blender fa-3x"></i></div>
		<ul class="nav justify-content-center">
			<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
			<li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
			<li class="nav-item"><a class="nav-link" href="/terms">Terms</a></li>
			<li class="nav-item"><a class="nav-link" href="/privacy">Privacy</a></li>
		</ul>
		<div class="mb-4">&copy; 2018 Blendr. Built with <i class="fas fa-heart"></i> &amp; <i class="fas fa-coffee"></i> by Dot Slash.</div>
		<a href="" class="btn btn-outline-secondary"><i class="icon-blender"></i> Add your service</a>
	</div>
</footer>