@font-face {
	font-family: 'AvenirNext-Bold';
	src: url('../fonts/avenir/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),  
	     url('../fonts/avenir/AvenirNext-Bold.woff') format('woff'), 
	     url('../fonts/avenir/AvenirNext-Bold.ttf')  format('truetype'), 
	     url('../fonts/avenir/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}