@{
    ViewData["Title"] = "Activity";
}

<section class="section">
	<div class="container">		
		<div class="row">
			<div class="col">
				<h2>@ViewData["Title"]</h2>
			</div>
		</div>
	</div>
</section>