@{
    ViewData["Title"] = "Cocktail Mix Four";
}

<section class="section pri-gradient-darker my-blend">
	<div class="container text-white text-center">
		<a href="/my-blends" class="btn btn-outline-light top-left-btn"><i class="fa fa-chevron-left"></i> All Blends</a>
		<div class="row">
			<div class="col">
				<h1 class="display-4">@ViewData["Title"]</h1>
				<div class="mt-1"><div class="badge badge-pill badge-transparent">Created Dec 15, 2017 08:48 am</div></div>
				
				<div class="mixer on-color my-4">
					<div class="ingedient active">
						<i class="fab fa-grav fa-3x"></i>
						<h6>My Service Name</h6>
					</div>
					<div class="blade blade-left blade-right active">
						<i class="fas fa-copy fa-2x"></i>
					</div>
					<div class="ingedient error">
						<i class="fab fa-grunt fa-3x"></i>
						<h6>Third Service Name</h6>
					</div>
				</div>
				
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</div>
		</div>
	</div>
</section>

<div class="tab-container blend">
	<div class="container">
	    <ul class="nav nav-tabs nav-fill" role="tablist">
	        <li class="nav-item">
	            <a class="nav-link active" data-toggle="tab" href="#home-2" role="tab">Details/Changes</a>
	        </li>
	        <li class="nav-item">
	            <a class="nav-link" data-toggle="tab" href="#fields-2" role="tab">Fields</a>
	        </li>
	        <li class="nav-item">
	            <a class="nav-link" data-toggle="tab" href="#activity-3" role="tab">Activity</a>
	        </li>
	    </ul>
	
	    <div class="tab-content">
	        <div class="tab-pane active fade show" id="home-2" role="tabpanel">
	            <p>Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nulla sit amet est. Praesent ac massa at ligula laoreet iaculis. Vivamus aliquet elit ac nisl. Nulla porta dolor. Cras dapibus. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
	            <p>In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Nam eget dui. In ac felis quis tortor malesuada pretium. Phasellus consectetuer vestibulum elit. Duis lobortis massa imperdiet quam. Pellentesque commodo eros a enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Phasellus a est. Pellentesque commodo eros a enim. Cras ultricies mi eu turpis hendrerit fringilla. Donec mollis hendrerit risus. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Praesent egestas neque eu enim. In hac habitasse platea dictumst.</p>
	        </div>
	        <div class="tab-pane fade" id="fields-2" role="tabpanel">
	            <table class="table table-bordered table-sm bg-white shuffle-table">
					<thead class="thead-dark">
						<tr>
							<th width="33%">My Service Name</th>
							<th width="33%">Other Service Name</th>
							<th width="33%">Result</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>DealerProductID<div class="badge badge-light float-right">521</div></td>
							<td>
								<ol data-draggable="target">
									<li data-draggable="item">ID</li>
								</ol>
							</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>Name<div class="badge badge-light float-right">HINO 57-450 PROFIA (6X4)</div></td>
							<td>
								<ol data-draggable="target">
									<li data-draggable="item">Name</li>
								</ol>
							</td>
							<td><div class="full-tags"></div></td>
						</tr>
						<tr>
							<td>QCategoryName<div class="badge badge-light float-right">Truck Tractors</div></td>
							<td>
								<ol data-draggable="target">
									<li data-draggable="item">CategoryNumber</li>
								</ol>
							</td>
							<td><div class="full-tags"></div></td>
						</tr>
						<tr>
							<td>InternalStockNumber<div class="badge badge-light float-right">RAVT101</div></td>
							<td>
								<ol data-draggable="target">
									<li data-draggable="item">StockNumber</li>
								</ol>
							</td>
							<td></td>
						</tr>
						<tr>
							<td>Brand<div class="badge badge-light float-right">HINO</div></td>
							<td>
								<ol data-draggable="target">
									<li data-draggable="item">Brand</li>
								</ol>
							</td>
							<td><div class="full-tags"></div></td>
						</tr>
						<tr>
							<td>Model<div class="badge badge-light float-right">HINO 57-450 PROFIA (6X4)</div></td>
							<td>
								<ol data-draggable="target">
									<li data-draggable="item">ItemModel</li>
								</ol>
							</td>
							<td><div class="full-tags"></div></td>
						</tr>
						<tr>
							<td>MeterReadoutHours<div class="badge badge-light float-right">285000</div></td>
							<td>
								<ol data-draggable="target">
									<li data-draggable="item">OdoHours</li>
								</ol>
							</td>
							<td><div class="full-tags"></div></td>
						</tr>
						<tr>
							<td>Location<div class="badge badge-light float-right">DURBAN</div></td>
							<td>
								<ol data-draggable="target">
									<li data-draggable="item">Location</li>
								</ol>
							</td>
							<td><div class="full-tags"></div></td>
						</tr>
						<tr>
							<td>YearOfManufacture<div class="badge badge-light float-right">2007</div></td>
							<td>
								<ol data-draggable="target">
									<li data-draggable="item">Year</li>
								</ol>
							</td>
							<td><div class="full-tags"></div></td>
						</tr>
						<tr>
							<td>AttachmentPath1<div class="badge badge-light float-right">item/5/ravt101.jpg</div></td>
							<td>
								<ol data-draggable="target">
									<li data-draggable="item">Image1</li>
								</ol>
							</td>
							<td><div class="full-tags"></div></td>
						</tr>
					</tbody>
					<tfoot class="thead-light">
						<tr>
							<th>&nbsp;</th>
							<th>Unused</th>
							<th>&nbsp;</th>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>
								<ol data-draggable="target">
									<li data-draggable="item">VR Photo</li>
									<li data-draggable="item">Video</li>
									<li data-draggable="item">Description</li>
								</ol>
							</td>
							<td>&nbsp;</td>
						</tr>
					</tfoot>
				</table>
	        </div>
	        <div class="tab-pane fade" id="activity-3" role="tabpanel">
	            <ul class="activity">
					<li>
						<div><i class="fas fa-sync fa-spin fa-lg"></i></div>
						<h3>Blend syncing</h3>
						<p>Dec 15, 2017 09:01 am</p>
					</li>
					<li>
						<div class="bg-info"><i class="fas fa-plus fa-lg text-white"></i></div>
						<h3>Blend created</h3>
						<p>Dec 15, 2017 08:48 am</p>
					</li>
				</ul>
	        </div>
	    </div>
	</div>
</div>



@section Scripts {
	<script src="~/js/shuffle.js"></script>
	<script>
		$(document).ready(function(){
		    $(".shuffle-table li").append(" <i class='fas fa-arrows-alt mx-2'></i>");
		}); 
	</script>
}