@{
    ViewData["Title"] = "Connections";
}

<section class="section">
	<div class="container">
		<h2>@ViewData["Title"]</h2>
		
		<div class="row">
			<div class="col">
				
				<div class="card mb-4">
					<h4 class="card-header">Clickable</h4>
					<div class="card-body">
						<div class="mixer">
							<a href="" class="ingedient">
								<i class="fas fa-birthday-cake fa-3x"></i>
								<h6>Ingredient</h6>
							</a>
							<a href="" class="blade blade-left">
								<i class="fas fa-utensils fa-2x"></i>
							</a>
							<a href="" class="ingedient">
								<i class="fas fa-lemon fa-3x"></i>
								<h6>Ingredient Verylong</h6>
							</a>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col">
				
				<div class="card mb-4">
					<h4 class="card-header">Display</h4>
					<div class="card-body">
						<div class="mixer">
							<div class="ingedient">
								<i class="fas fa-birthday-cake fa-3x"></i>
								<h6>Ingredient</h6>
							</div>
							<div class="blade blade-left blade-right">
								<i class="fas fa-utensils fa-2x"></i>
							</div>
							<div class="ingedient">
								<i class="fas fa-lemon fa-3x"></i>
								<h6>Ingredient Verylong</h6>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				
				<div class="card mb-4">
					<h4 class="card-header">Empty - Choose</h4>
					<div class="card-body">
						<div class="mixer">
							<a href="" class="ingedient to-choose">
								<i class="fas fa-plus fa-3x"></i>
								<h6>Select Ingredient</h6>
							</a>
							<a href="" class="blade to-choose">
								<i class="fas fa-plus fa-2x"></i>
							</a>
							<a href="" class="ingedient to-choose">
								<i class="fas fa-plus fa-3x"></i>
								<h6>Select Ingredient</h6>
							</a>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col">
				
				<div class="card mb-4">
					<h4 class="card-header">Disabled</h4>
					<div class="card-body">
						<div class="mixer">
							<a href="" class="ingedient disabled">
								<i class="fas fa-birthday-cake fa-3x"></i>
								<h6>Ingredient</h6>
							</a>
							<div class="blade disabled">
								<i class="fas fa-utensils fa-2x"></i>
							</div>
							<div class="ingedient disabled">
								<i class="fas fa-lemon fa-3x"></i>
								<h6>Ingredient Verylong</h6>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				
				<div class="card mb-4">
					<h4 class="card-header">Active 1</h4>
					<div class="card-body">
						<div class="mixer">
							<div class="ingedient active">
								<i class="fas fa-birthday-cake fa-3x"></i>
								<h6>Ingredient</h6>
							</div>
							<div class="blade blade-left">
								<i class="fas fa-utensils fa-2x"></i>
							</div>
							<div class="ingedient">
								<i class="fas fa-lemon fa-3x"></i>
								<h6>Ingredient Verylong</h6>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col">
				
				<div class="card mb-4">
					<h4 class="card-header">Active 1 2</h4>
					<div class="card-body">
						<div class="mixer">
							<div class="ingedient active">
								<i class="fas fa-birthday-cake fa-3x"></i>
								<h6>Ingredient</h6>
							</div>
							<div class="blade blade-left active">
								<i class="fas fa-utensils fa-2x"></i>
							</div>
							<div class="ingedient">
								<i class="fas fa-lemon fa-3x"></i>
								<h6>Ingredient Verylong</h6>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				
				<div class="card mb-4">
					<h4 class="card-header">Active 1 2 3</h4>
					<div class="card-body">
						<div class="mixer">
							<div class="ingedient active">
								<i class="fas fa-birthday-cake fa-3x"></i>
								<h6>Ingredient</h6>
							</div>
							<div class="blade blade-left blade-right active">
								<i class="fas fa-utensils fa-2x"></i>
							</div>
							<div class="ingedient">
								<i class="fas fa-lemon fa-3x"></i>
								<h6>Ingredient Verylong</h6>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col">
				
				<div class="card mb-4">
					<h4 class="card-header">Active Sync</h4>
					<div class="card-body">
						<div class="mixer synced">
							<div class="ingedient active">
								<i class="fas fa-birthday-cake fa-3x"></i>
								<h6>Ingredient</h6>
							</div>
							<div class="blade blade-left blade-right active">
								<i class="fas fa-utensils fa-2x"></i>
							</div>
							<div class="ingedient active">
								<i class="fas fa-lemon fa-3x active"></i>
								<h6>Ingredient Verylong</h6>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				
				<div class="card mb-4">
					<h4 class="card-header">Error</h4>
					<div class="card-body">
						<div class="mixer">
							<div class="ingedient active">
								<i class="fas fa-birthday-cake fa-3x"></i>
								<h6>Ingredient</h6>
							</div>
							<div class="blade blade-left error">
								<i class="fas fa-utensils fa-2x"></i>
							</div>
							<div class="ingedient">
								<i class="fas fa-lemon fa-3x"></i>
								<h6>Ingredient Verylong</h6>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col">
				
				<div class="card mb-4">
					<h4 class="card-header">Error</h4>
					<div class="card-body">
						<div class="mixer">
							<div class="ingedient active">
								<i class="fas fa-birthday-cake fa-3x"></i>
								<h6>Ingredient</h6>
							</div>
							<div class="blade blade-left blade-right active">
								<i class="fas fa-utensils fa-2x"></i>
							</div>
							<div class="ingedient error">
								<i class="fas fa-lemon fa-3x active"></i>
								<h6>Ingredient Verylong</h6>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				
				<div class="card mb-4">
					<h4 class="card-header">Small</h4>
					<div class="card-body">
						<div class="mixer small">
							<div class="ingedient active">
								<i class="fas fa-birthday-cake fa-2x"></i>
							</div>
							<div class="blade blade-left blade-right">
								<i class="fas fa-utensils fa-lg"></i>
							</div>
							<div class="ingedient">
								<i class="fas fa-lemon fa-2x"></i>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				
				<div class="card bg-primary mb-4">
					<h4 class="card-header text-white">Colour Bg</h4>
					<div class="card-body">
						<div class="mixer on-color">
							<div class="ingedient">
								<i class="fas fa-birthday-cake fa-2x"></i>
								<h6>Ingredient</h6>
							</div>
							<div class="blade blade-left blade-right">
								<i class="fas fa-utensils fa-lg"></i>
							</div>
							<div class="ingedient">
								<i class="fas fa-lemon fa-2x"></i>
								<h6>Ingredient Verylong</h6>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="col">
				
				<div class="card bg-primary mb-4">
					<h4 class="card-header text-white">Colour Bg</h4>
					<div class="card-body">
						<div class="mixer on-color synced">
							<div class="ingedient active">
								<i class="fas fa-birthday-cake fa-2x"></i>
								<h6>Ingredient</h6>
							</div>
							<div class="blade blade-left blade-right active">
								<i class="fas fa-utensils fa-lg"></i>
							</div>
							<div class="ingedient active">
								<i class="fas fa-lemon fa-2x"></i>
								<h6>Ingredient Verylong</h6>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
</section>
