@{
    ViewData["Title"] = "Dashboard";
}

<section class="section">
	<div class="container">
		<ul class="h1">
			<li>Latest Blend: <span class="badge badge-pill badge-secondary">Cocktail Mix One</span></li>
			<li>Blend Status: <div class="badge badge-pill badge-success"><i class="fas fa-check-circle"></i>Blend is Goooood!</div></li>
			<li>Time Now: <span class="badge badge-pill badge-secondary clock"><span class="time"><span class="time__hours"></span><span class="time__min"></span><span class="time__sec"></span></span></span></li>
			<li>Create date: <span class="badge badge-pill badge-secondary">13 Dec 2017 9:00am</span></li>
			<li>Last blend date: <span class="badge badge-pill badge-secondary">Today at 9:00am</span></li>
			<li>Changes: <a href="" class="badge badge-pill badge-primary">23</a></li>
			<li>Errors: <a href="" class="badge badge-pill badge-danger">2</a></li>
		</ul>
	</div>
</section>


