@{
    ViewData["Title"] = "Help Center";
}

<section class="section">
	<div class="container">
		<div class="row mb-4 text-center">
			<div class="col">
				<h1 class="display-3">@ViewData["Title"]</h1>
			</div>
		</div>
	</div>
</section>
