@{
    ViewData["Title"] = "Home";
}

<style>
	body {padding-top: 0;}
	.fixed-top {background-color: rgba(255,255,255,0.95) !important;}
</style>

<header class="dark parallax full-bg" data-background="/images/landing/home-parallax.jpg">
	<div class="wrap container">
		<div class="content center-center text-center">
			<img src="~/images/landing/logo.png" class="img-fluid mx-auto">
		</div>
	</div>
	<img src="~/images/landing/shape-up.png" class="shape-up img-fluid">
</header>

<section class="bg-white" style="min-height: 400px">
	
</section>


<div class="floater">
	<div class="inner slide">
		<div class="wrapping fa-5x">
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#6610f2"></i>
				    <i class="fa-inverse fab fa-adn" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#6610f2"></i>
				    <i class="fa-inverse fab fa-apple" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:Tomato"></i>
				    <i class="fa-inverse fab fa-avianex" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#e83e8c"></i>
				    <i class="fa-inverse fab fa-cpanel" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#dc3545"></i>
				    <i class="fa-inverse fab fa-deviantart" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#fd7e14"></i>
				    <i class="fa-inverse fab fa-linode" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#ffc107"></i>
				    <i class="fa-inverse fab fa-lyft" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#28a745"></i>
				    <i class="fa-inverse fab fa-mizuni" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#20c997"></i>
				    <i class="fa-inverse fab fa-meetup" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#17a2b8"></i>
				    <i class="fa-inverse fab fa-microsoft" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#eeeeee"></i>
				    <i class="fa-inverse fab fa-napster" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#868e96"></i>
				    <i class="fa-inverse fab fa-npm" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#343a40"></i>
				    <i class="fa-inverse fab fa-opencart" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#6f42c1"></i>
				    <i class="fa-inverse fab fa-paypal" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#000000"></i>
				    <i class="fa-inverse fab fa-playstation" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#007bff"></i>
				    <i class="fa-inverse fab fa-phoenix-framework" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#6610f2"></i>
				    <i class="fa-inverse fab fa-react" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#6f42c1"></i>
				    <i class="fa-inverse fab fa-sass" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#e83e8c"></i>
				    <i class="fa-inverse fab fa-rendact" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#dc3545"></i>
				    <i class="fa-inverse fab fa-rocketchat" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#fd7e14"></i>
				    <i class="fa-inverse fab fa-replyd" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#ffc107"></i>
				    <i class="fa-inverse fab fa-sellcast" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#28a745"></i>
				    <i class="fa-inverse fab fa-simplybuilt" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#20c997"></i>
				    <i class="fa-inverse fab fa-snapchat" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#17a2b8"></i>
				    <i class="fa-inverse fab fa-steam" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#eeeeee"></i>
				    <i class="fa-inverse fab fa-sticker-mule" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#868e96"></i>
				    <i class="fa-inverse fab fa-strava" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#343a40"></i>
				    <i class="fa-inverse fab fa-studiovinari" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#6f42c1"></i>
				    <i class="fa-inverse fab fa-studiovinari" data-fa-transform="shrink-6"></i>
				</div>
			</span>
			<span>
				<div class="fa-layers fa-fw">
				    <i class="fas fa-circle" style="color:#000000"></i>
				    <i class="fa-inverse fab fa-stumbleupon" data-fa-transform="shrink-6"></i>
				</div>
			</span>
		</div>
	</div>
</div>



<section class="bg-primary inner-shapes" style="height: 1000px">
	<img src="~/images/landing/shape-up.png" class="shape-up img-fluid">
	<img src="~/images/landing/shape-down.png" class="shape-down img-fluid">
</section>

<section class="bg-white" style="height: 400px"></section>

@section Scripts {
	<script src="~/js/parallax.js"></script>
	<script>
		// Parallax BG Images
		$(document).ready(function(){
			// Parallax        
		    if (($(window).width() >= 1024)) {
		        $(".parallax").parallax("50%", -0.4);
		    } 
			// Parallax Section BG
			var pageSection = $(".full-bg");
		    pageSection.each(function(indx){
		        
		        if ($(this).attr("data-background")){
		            $(this).css("background-image", "url(" + $(this).data("background") + ")");
		        }
		    });
		});
	</script>
}