@{
    ViewData["Title"] = "My Blends";
}

<section class="section">
	<div class="container">
		<a href="/new-blend" class="btn btn-primary"><i class="fa fa-plus"></i> New Blend</a>
	</div>
</section>