@{
    ViewData["Title"] = "My Blends";
}

<section class="section">
	<div class="container">
		<div class="row mb-4">
			<div class="col">
				<h1>@ViewData["Title"]</h1>
				<a href="/new-blend" class="btn btn-outline-primary top-right-btn"><i class="fas fa-plus"></i> New Blend</a>
			</div>
		</div>
	</div>
		
	<table class="table table-lg table-hover">
		<tbody>
			<tr>
				
				<td class="text-center"><i class="fab fa-freebsd fa-2x"></i> <i class="fas fa-clock"></i> <i class="fab fa-grav fa-2x"></i></td>
				<td>
					<h5><a href="/blend">Cocktail Mix New</a></h5>
					<div>Created <b>Dec 15, 2017 08:48</b></div>
				</td>
				<td>
					<div>Last synced: <b>Dec 13, 2017 9:48 am</b></div>
					<div class="text-truncate">Sync status: <div class="badge badge-pill badge-secondary"><i class="fas fa-sync fa-spin"></i> Syncing at 83%</div></div>
				</td>
				<td>
					<div class="row">
						<div class="col">
							<h5><a href="javascript:void(0)">-</a></h5>
							<div><i class="fas fa-exchange-alt"></i> Changes</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				
				<td class="text-center"><i class="fab fa-freebsd fa-2x"></i> <i class="fas fa-clock"></i> <i class="fab fa-codepen fa-2x"></i></td>
				<td>
					<h5><a href="/blend-one">Cocktail Mix One</a></h5>
					<div>Created <b>Nov 15, 2017 08:48</b></div>
				</td>
				<td>
					<div>Last synced: <b>Dec 13, 2017 9:48 am</b></div>
					<div class="text-truncate">Sync status: <div class="badge badge-pill badge-success"><i class="fas fa-check-circle"></i> Blend is Goooood!</div></div>
				</td>
				<td>
					<div class="row">
						<div class="col">
							<h5><a href="javascript:void(0)">2</a></h5>
							<div><i class="fas fa-exchange-alt"></i> Changes</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				
				<td class="text-center"><i class="fab fa-freebsd fa-2x"></i> <i class="fas fa-copy"></i> <i class="fab fa-grunt fa-2x"></i></td>
				<td>
					<h5><a href="/blend-two">Cocktail Mix Two</a></h5>
					<div>Created <b>Oct 15, 2017 08:48</b></div>
				</td>
				<td>
					<div>Last synced: <b>Dec 13, 2017 9:48 am</b></div>
					<div class="text-truncate">Sync status: <div class="badge badge-pill badge-warning"><i class="fas fa-exclamation-triangle"></i> Blender blades hot..</div></div>
				</td>
				<td>
					<div class="row">
						<div class="col">
							<h5><a href="javascript:void(0)">9</a></h5>
							<div><i class="fas fa-exchange-alt"></i> Changes</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				
				<td class="text-center"><i class="fab fa-grav fa-2x"></i> <i class="fas fa-clock"></i> <i class="fab fa-codepen fa-2x"></i></td>
				<td>
					<h5><a href="/blend-three">Cocktail Mix Three</a></h5>
					<div>Created <b>Sep 15, 2017 08:48</b></div>
				</td>
				<td>
					<div>Last synced: <b>Dec 13, 2017 9:48 am</b></div>
					<div class="text-truncate">Sync status: <div class="badge badge-pill badge-success"><i class="fas fa-check-circle"></i> Blend is Goooood!</div></div>
				</td>
				<td>
					<div class="row">
						<div class="col">
							<h5><a href="javascript:void(0)">25</a></h5>
							<div><i class="fas fa-exchange-alt"></i> Changes</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				
				<td class="text-center"><i class="fab fa-grav fa-2x"></i> <i class="fas fa-copy"></i> <i class="fab fa-grunt fa-2x"></i></td>
				<td>
					<h5><a href="/blend-four">Cocktail Mix Four</a></h5>
					<div>Created <b>Aug 15, 2017 08:48</b></div>
				</td>
				<td>
					<div>Last synced: <b>Dec 13, 2017 9:48 am</b></div>
					<div class="text-truncate">Sync status: <div class="badge badge-pill badge-danger"><i class="fas fa-exclamation-circle"></i> Not feeling the love..</div></div>
				</td>
				<td>
					<div class="row">
						<div class="col">
							<h5><a href="javascript:void(0)">7</a></h5>
							<div><i class="fas fa-exchange-alt"></i> Changes</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				
				<td class="text-center"><i class="fab fa-codepen fa-2x"></i> <i class="fas fa-tasks"></i> <i class="fab fa-grunt fa-2x"></i></td>
				<td>
					<h5><a href="/blend-five">Cocktail Mix Five</a></h5>
					<div>Created <b>Jul 15, 2017 08:48</b></div>
				</td>
				<td>
					<div>Last synced: <b>Dec 13, 2017 9:48 am</b></div>
					<div class="text-truncate">Sync status: <div class="badge badge-pill badge-danger"><i class="fas fa-exclamation-circle"></i> Not feeling the love..</div></div>
				</td>
				<td>
					<div class="row">
						<div class="col">
							<h5><a href="javascript:void(0)">3</a></h5>
							<div><i class="fas fa-exchange-alt"></i> Changes</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
</section>
