@{
    ViewData["Title"] = "My Blends";
}

<section class="section pt-4">
	<div class="container-fluid">
		<div class="row mb-4">
			<div class="col text-right">
				<a href="/new-blend" class="btn btn-outline-primary"><i class="fas fa-plus"></i> New Blend</a>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<table class="table table-lg table-hover">
					<tbody>
						<tr>
							
							<td class="text-center">
								<div class="mixer small">
									<div class="ingedient" data-toggle="tooltip" data-placement="top" title="Auto Mart">
										AM
									</div>
									<div class="blade blade-left blade-right"  data-toggle="tooltip" data-placement="top" title="Syncing">
										<i class="fas fa-sync fa-spin fa-lg"></i>
									</div>
									<div class="ingedient" data-toggle="tooltip" data-placement="top" title="Junk Mail">
										JM
									</div>
								</div>
							</td>
							<td>
								<h5><a href="/blend-am-jm">AutomartJunkmail</a></h5>
								<div>Created <b>Today at 08:48</b></div>
							</td>
							<td>
								<div>Last synced: <b>...</b></div>
								<div class="text-truncate">Sync status: <div class="badge badge-pill badge-secondary"><i class="fas fa-sync fa-spin"></i> Syncing at 83%</div></div>
							</td>
							<td>
								<div class="row">
									<div class="col">
										<h5><a href="javascript:void(0)">...</a></h5>
										<div><i class="fas fa-exchange-alt"></i> Changes</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							
							<td class="text-center">
								<div class="mixer small synced">
									<div class="ingedient active" data-toggle="tooltip" data-placement="top" title="McCarthy Toyota">
										MT
									</div>
									<div class="blade blade-left blade-right active" data-toggle="tooltip" data-placement="top" title="Use latest changes">
										<i class="fas fa-clock fa-lg"></i>
									</div>
									<div class="ingedient active" data-toggle="tooltip" data-placement="top" title="Auto Mart">
										AM
									</div>
								</div>
							</td>
							<td>
								<h5><a href="/blend-mt-am">McCarthyAutomart</a></h5>
								<div>Created <b>Nov 15, 2017 08:48</b></div>
							</td>
							<td>
								<div>Last synced: <b>Dec 13, 2017 9:48 am</b></div>
								<div class="text-truncate">Sync status: <div class="badge badge-pill badge-success"><i class="fas fa-check-circle"></i> Blend is Goooood!</div></div>
							</td>
							<td>
								<div class="row">
									<div class="col">
										<h5><a href="javascript:void(0)">2</a></h5>
										<div><i class="fas fa-exchange-alt"></i> Changes</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							
							<td class="text-center">
								<div class="mixer small">
									<div class="ingedient active" data-toggle="tooltip" data-placement="top" title="Auto Mart">
										AM
									</div>
									<div class="blade blade-left error" data-toggle="tooltip" data-placement="top" title="Use latest changes">
										<i class="fas fa-clock fa-lg"></i>
									</div>
									<div class="ingedient" data-toggle="tooltip" data-placement="top" title="OLX">
										OL
									</div>
								</div>
							</td>
							<td>
								<h5><a href="/blend-am-ol">AutomartOLX</a></h5>
								<div>Created <b>Oct 15, 2017 08:48</b></div>
							</td>
							<td>
								<div>Last synced: <b>Dec 13, 2017 9:48 am</b></div>
								<div class="text-truncate">Sync status: <a href="/new-blend" class="badge badge-pill badge-warning"><i class="fas fa-exclamation-triangle"></i> Blendr issue</a></div>
							</td>
							<td>
								<div class="row">
									<div class="col">
										<h5><a href="javascript:void(0)">9</a></h5>
										<div><i class="fas fa-exchange-alt"></i> Changes</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							
							<td class="text-center">
								<div class="mixer small">
									<div class="ingedient error" data-toggle="tooltip" data-placement="top" title="IX">
										IX
									</div>
									<div class="blade" data-toggle="tooltip" data-placement="top" title="Keep changes">
										<i class="fas fa-tasks fa-lg"></i>
									</div>
									<div class="ingedient" data-toggle="tooltip" data-placement="top" title="AM">
										AM
									</div>
								</div>
							</td>
							<td>
								<h5><a href="/blend-ix-am">IxAutomart</a></h5>
								<div>Created <b>Jul 15, 2017 08:48</b></div>
							</td>
							<td>
								<div>Last synced: <b>Dec 13, 2017 9:48 am</b></div>
								<div class="text-truncate">Sync status: <a href="javascript:void(0)" data-toggle="modal" data-target="#connectionModal" class="badge badge-pill badge-danger"><i class="fas fa-exclamation-circle"></i> Fix IX Connection</a></div>
							</td>
							<td>
								<div class="row">
									<div class="col">
										<h5><a href="javascript:void(0)">3</a></h5>
										<div><i class="fas fa-exchange-alt"></i> Changes</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							
							<td class="text-center">
								<div class="mixer small synced">
									<div class="ingedient active" data-toggle="tooltip" data-placement="top" title="Mascus">
										MS
									</div>
									<div class="blade blade-left blade-right active" data-toggle="tooltip" data-placement="top" title="Keep changes">
										<i class="fas fa-tasks fa-lg"></i>
									</div>
									<div class="ingedient active" data-toggle="tooltip" data-placement="top" title="AM">
										AM
									</div>
								</div>
							</td>
							<td>
								<h5><a href="/blend-ma-am">MascusAutomart</a></h5>
								<div>Created <b>Jul 15, 2017 08:48</b></div>
							</td>
							<td>
								<div>Last synced: <b>Dec 13, 2017 9:48 am</b></div>
								<div class="text-truncate">Sync status: <div class="badge badge-pill badge-success"><i class="fas fa-check-circle"></i> Blend is Goooood!</div></div>
							</td>
							<td>
								<div class="row">
									<div class="col">
										<h5><a href="javascript:void(0)">3</a></h5>
										<div><i class="fas fa-exchange-alt"></i> Changes</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>

<section class="section pt-4">
	<div class="container-fluid">
		<div class="my-4 text-center empty-state">
			<p>You don’t have any Blends</p>
			<p>Blends work with all your favourite services</p>
			<a href="/new-blend" class="btn btn-primary mt-3"><i class="fas fa-plus"></i> Create blend</a>
		</div>
	</div>
</section>


<!-- Modal -->
<div class="modal fade" id="connectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Connection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h4>Account URL</h4>
		<div class="mb-4">
			<input type="text" class="form-control form-control-lg" id="" placeholder="https://...">
		</div>
		<h4 class="text-center">Dealer ID</h4>
		<div class="mb-4">
			<input type="text" class="form-control form-control-lg" id="" placeholder="id...">
		</div>
		<h4 class="text-center">Log in</h4>
		<div class="large-input mb-4">
			<input type="text" class="form-control form-control-lg mb-2" id="" placeholder="username...">
			<input type="text" class="form-control form-control-lg" id="" placeholder="password...">
		</div>
		<a href="/service" class="btn btn-primary mt-2">Connect</a>
      </div>
    </div>
  </div>
</div>


@section Scripts {

}