@{
    ViewData["Title"] = "My Services";
}

<section class="section">
	<div class="container">
		<div class="row mb-4">
			<div class="col">
				<h1>@ViewData["Title"]</h1>
				<a href="/search" class="btn btn-outline-primary top-right-btn"><i class="fas fa-plus"></i> New Service</a>
			</div>
		</div>
	</div>
		
		<table class="table table-lg table-hover">
			<tbody>
				<tr>
					
					<td class="text-center align-middle"><i class="fab fa-freebsd fa-2x"></i></td>
					<td>
						<h5><a href="/service">My Service Name</a></h5>
						<div>Created <b>Dec 15, 2017 9:17 am</b></div>
					</td>
					<td>
						<div>Last requested: <b>Dec 15, 2017 10:32 am</b></div>
						<div class="text-truncate">Last status code: <div class="badge badge-pill badge-success">Great, you're connected!</div></div>
					</td>
					<td>
						<div class="row">
							<div class="col">
								<h5><a href="javascript:void(0)">30</a></h5>
								<div><i class="fa fa-user"></i> Dealers</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">148</a></h5>
								<div><i class="fa fa-download"></i> Stock</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">2</a></h5>
								<div><i class="icon-blender"></i> Blends</div>
							</div>
						</div>
					</td>
					<td><a href="/new-blend" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Blend Now"><i class="icon-blender"></i></a></td>
				</tr>
				<tr>
					
					<td class="text-center align-middle"><i class="fab fa-grav fa-2x"></i></td>
					<td>
						<h5><a href="/service">Other Service Name</a></h5>
						<div>Created <b>Dec 15, 2017 9:17 am</b></div>
					</td>
					<td>
						<div>Last requested: <b>Dec 15, 2017 10:32 am</b></div>
						<div class="text-truncate">Last status code: <div class="badge badge-pill badge-success">Great, you're connected!</div></div>
					</td>
					<td>
						<div class="row">
							<div class="col">
								<h5><a href="javascript:void(0)">15</a></h5>
								<div><i class="fa fa-user"></i> Dealers</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">97</a></h5>
								<div><i class="fa fa-download"></i> Stock</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">1</a></h5>
								<div><i class="icon-blender"></i> Blends</div>
							</div>
						</div>
					</td>
					<td><a href="/new-blend" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Blend Now"><i class="icon-blender"></i></a></td>
				</tr>
				<tr>
					
					<td class="text-center align-middle"><i class="fab fa-grunt fa-2x"></i></td>
					<td>
						<h5><a href="/service">Bidvest McCarthy Toyota</a></h5>
						<div>Created <b>Dec 10, 2017 9:48 am</b></div>
					</td>
					<td>
						<div>Last requested: <b>Dec 11, 2017 11:48 am</b></div>
						<div class="text-truncate">Last status code: <div class="badge badge-pill badge-danger">Uhrm.. something's wrong!</div></div>
					</td>
					<td>
						<div class="row">
							<div class="col">
								<h5><a href="javascript:void(0)">30</a></h5>
								<div><i class="fa fa-user"></i> Dealers</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">348</a></h5>
								<div><i class="fa fa-download"></i> Stock</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">0</a></h5>
								<div><i class="icon-blender"></i> Blends</div>
							</div>
						</div>
					</td>
					<td><a href="/new-blend" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Blend Now"><i class="icon-blender"></i></a></td>
				</tr>
				<tr>
					
					<td class="text-center align-middle"><i class="fab fa-codepen fa-2x"></i></td>
					<td>
						<h5><a href="/service">Third Service Name</a></h5>
						<div>Created <b>Dec 15, 2017 9:17 am</b></div>
					</td>
					<td>
						<div>Last requested: <b>Dec 15, 2017 10:32 am</b></div>
						<div class="text-truncate">Last status code: <div class="badge badge-pill badge-success">Great, you're connected!</div></div>
					</td>
					<td>
						<div class="row">
							<div class="col">
								<h5><a href="javascript:void(0)">15</a></h5>
								<div><i class="fa fa-user"></i> Dealers</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">97</a></h5>
								<div><i class="fa fa-download"></i> Stock</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">1</a></h5>
								<div><i class="icon-blender"></i> Blends</div>
							</div>
						</div>
					</td>
					<td><a href="/new-blend" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Blend Now"><i class="icon-blender"></i></a></td>
				</tr>
				
			</tbody>
		</table>

</section>

