@{
    ViewData["Title"] = "New Blend";
}

<div class="container">
	<section class="wizard-card" id="wizard">
	<form action="" method="">
		
		<div class="wizard-header">
	    	<h3 class="wizard-title py-4 mb-0">Blend Services</h3>
		</div>
			                    	
		<div class="wizard-navigation">
			<ul class="nav nav-pills" role="tablist">
                <li><a href="#stepOne" data-toggle="tab" role="tab" id="stepOne-tab">Import FROM</a></li>
                <li><a href="#stepTwo" data-toggle="tab" role="tab" id="stepTwo-tab">Category setup</a></li>
                <li><a href="#stepThree" data-toggle="tab" role="tab" id="stepThree-tab">Import TO</a></li>
                <li><a href="#stepFour" data-toggle="tab" role="tab" id="stepFour-tab">How to blend</a></li>
                <li><a href="#stepFive" data-toggle="tab" role="tab" id="stepFive-tab">Double check</a></li>
            </ul>
		</div>
		
		
		
			<div class="tab-content">

				<section id="stepOne" class="tab-pane fade" role="tabpanel">
					<div class="container text-center">
						
						<div class="badge badge-pill badge-secondary mx-auto mb-4">Import stock FROM: (Demo choose TOYOTA)</div>
						
						<ul class="list">
							<li>
								<a href="javascript:void(0)">
									<img src="/images/logos/automart.svg">
									<h6 class="feed-name">Auto Mart</h6>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<img src="/images/logos/olx.svg">
									<h6 class="feed-name">OLX</h6>
								</a>
							</li>
							<li data-service="send">
								<a href="javascript:void(0)">
									<img src="/images/logos/toyota.svg">
									<h6 class="feed-name">Bidvest McCarthy Toyota</h6>
								</a>
							</li>
							<li data-service="send">
								<a href="javascript:void(0)">
									<img src="/images/logos/mascus.svg">
									<h6 class="feed-name">Mascus</h6>
								</a>
							</li>
							<li data-service="fix">
								<div class="disabled" data-toggle="tooltip" data-placement="top" title="Not connected">
									<img src="/images/logos/ix.svg">
									<h6 class="feed-name">IX</h6>
								</div>
							</li>
							<li>
								<a href="/search" class="new">
									<i class="fas fa-plus fa-3x service-logo"></i>
									<h6 class="feed-name">New Service</h6>
								</a>
							</li>
						</ul>
					</div>
				</section>
				
				<section id="stepTwo" class="tab-pane fade" role="tabpanel">
					<div class="container text-center">
						<div class="badge badge-pill badge-secondary mb-4">Bidvest McCarthy categories:</div>
						<div class="row">
							<div class="col-md-4 text-left">
								<h5>Branches</h5>
								<div class="category-list">
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">ALL Branches</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Arcadia</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Ballito</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Bruma</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Centurion</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Durban Kingsmead</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Durban North</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Edenvale</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Edwin Swales</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Empangeni</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Gezina</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Hatfield</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Lynnwood</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Midrand</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">N1 City</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Paarl</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Pietermaritzburg</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Pinetown</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Pre-owned Mobeni</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Richards Bay</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Sinoville</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Woodmead</span>
									</label>
									</div>
									
								</div>
							</div>
							<div class="col-md-4 text-left">
								<h5>Categories</h5>
								<div class="category-list">
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">ALL Categories</span>
									</label>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Vehicles</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Property</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Household, Gardening and DIY</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Service, Office and Business</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Jobs</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Electronics</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Pets and Pet Accessories</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Leisure, Sports and Events</span>
									</label>
									</div>
									<div>
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" checked>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Spares</span>
									</label>
									</div>
								</div>
							</div>
								
					</div>
				</section>
				
				<section id="stepThree" class="tab-pane fade" role="tabpanel">
					<div class="container text-center">
						
						<div class="badge badge-pill badge-secondary mx-auto mb-4">Import from TOYOTA to: (Demo choose AM)</div>
						
						<ul class="list">
							<li>
								<a href="javascript:void(0)">
									<img src="/images/logos/automart.svg">
									<h6 class="feed-name">Auto Mart</h6>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<img src="/images/logos/junkmail.svg">
									<h6 class="feed-name">Junk Mail</h6>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<img src="/images/logos/olx.svg">
									<h6 class="feed-name">OLX</h6>
								</a>
							</li>
							<li>
								<a href="/search" class="new">
									<i class="fas fa-plus fa-3x service-logo"></i>
									<h6 class="feed-name">New Service</h6>
								</a>
							</li>
						</ul>
					</div>
				</section>
				
				<section id="stepFour" class="tab-pane fade" role="tabpanel">
					<div class="container text-center">
						
						<div class="badge badge-pill badge-secondary mx-auto mb-4">Choose type of integration</div>
						
						<ul class="list">
							<li>
								<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Use latest changes">
									<i class="fas fa-clock fa-3x service-logo"></i>
									<h6 class="feed-name">Use Latest</h6>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Overwrite with latest">
									<i class="fas fa-copy fa-3x service-logo"></i>
									<h6 class="feed-name">Always Import</h6>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Keep changes">
									<i class="fas fa-tasks fa-3x service-logo"></i>
									<h6 class="feed-name">Keep changes</h6>
								</a>
							</li>
						</ul>
					</div>
				</section>
				
				<section id="stepFive" class="tab-pane fade" role="tabpanel">
					<div class="container text-center">
						<div class="badge badge-pill badge-secondary mb-4">Review and Finish</div>
						
						<div class="mixer mb-4">
							<div class="ingedient selected">
								<img src="~/images/logos/toyota.svg">
								<h6>Bidvest McCarthy Toyota</h6>
							</div>
							<div class="blade blade-left blade-right selected" data-toggle="tooltip" data-placement="top" title="Use latest change">
								<i class="fas fa-clock fa-2x"></i>
							</div>
							<div class="ingedient selected">
								<img src="~/images/logos/automart.svg">
								<h6>Auto Mart</h6>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6 mx-auto text-center">
								<h3>Name your creation</h3>
								<input type="text" class="form-control form-control-lg" id="" placeholder="ex. McCarthyAutomart...">
							</div>
						</div>
					</div>
				</section>
			
			</div>
			
			<div class="wizard-footer">
				<div class="row">
			        <div class="col">
			            <input type='button' class='btn btn-previous btn-fill btn-secondary btn-wd' name='previous' value='Previous' />
			        </div>
			        <div class="col text-right">
<!-- 			            <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next' value='Next' /> -->
			            <a href="/blend-mt-am" class='btn btn-finish btn-fill btn-primary btn-wd' name='finish'>Blend it!</a>
			        </div>
				</div>
			</div>
		
		
	
	</form>
	</section>
</div>

@section Scripts {
	<script src="~/js/jquery.bootstrap.wizard.js"></script>
	<script src="~/js/jquery.settings.wizard.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
}