@{
    ViewData["Title"] = "New Blend";
}

<section class="section">
	<div class="container">
		<ol>
			<li>Mix <a href=""><i class="fa fa-plus"></i></a> with <a href=""><i class="fa fa-plus"></i></a></li>
			<li>Select Service <i class="icon-blender"></i> OR Setup New Service <i class="fa fa-plus"></i></li>
			<li>Mix <i class="icon-blender"></i> with <a href=""><i class="fa fa-plus"></i></a></li>
			<li>Select Service <i class="icon-blender"></i> OR Setup New Service <i class="fa fa-plus"></i></li>
			<li>Integration: <i class="icon-blender"></i> - <a href=""><i class="fas fa-ellipsis-h"></i></a> - <i class="icon-blender"></i></li>
			<li>Integration: <i class="icon-blender"></i> - <i class="fas fa-ellipsis-h"></i> - <i class="icon-blender"></i></li>
			<li>Review: Mix <i class="icon-blender"></i> - <i class="fas fa-ellipsis-h"></i> - <i class="icon-blender"></i> - <a href="">Finish</a></li>
			<li><i class="icon-blender"></i> - <i class="fas fa-ellipsis-h"></i> - <i class="icon-blender"></i></i>
				<ul>
					<li>Toggle <a href="">ON</a></li>
					<li>Created on Dec 16 2017</li>
					<li>Never run</li>
					<li>This Applet usually runs within a few seconds</li>
					<li><a href="">Check Now</a></li>
					<li><a href=""><i class="fa fa-pencil-alt"></i> Edit</a></li>
				</ul>
			</li>
		</ol>
	</div>
</section>

<section id="stepOne" class="section">
	<div class="container text-center">
		<div class="badge badge-pill badge-secondary mb-4">1. Setup blend</div>
		<div class="blend-services">
			<a href="javascript:void(0)" class="service">
				<i class="fas fa-plus-circle fa-4x service-logo"></i>
				<div>Select Service</div>
			</a>
			<a href="javascript:void(0)" class="integration">
				<i class="fas fa-ellipsis-h fa-3x service-logo"></i>
			</a>
			<span class="connection"></span>
			<a href="javascript:void(0)" class="service">
				<i class="fas fa-plus-circle fa-4x service-logo"></i>
				<div>Select Service</div>
			</a>
		</div>
	</div>
</section>

<div id="stepTwo" class="section">
	<div class="container text-center">
		
		<div class="badge badge-pill badge-secondary mx-auto mb-4">2. 1st service</div>
		
		<ul class="list">
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-freebsd fa-3x service-logo"></i>
					<div class="feed-name">My Service Name</div>
					<div class="state"><i class="fa fa-circle fa-xs"></i> On</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-grav fa-3x service-logo"></i>
					<div class="feed-name">Other Service Name</div>
					<div class="state"><i class="fa fa-circle fa-xs"></i> On</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="disabled">
					<i class="fab fa-grunt fa-3x service-logo"></i>
					<div class="feed-name">Bidvest McCarthy Toyota</div>
					<div class="state"><i class="fa fa-circle fa-xs"></i> Off</div>
				</a>
			</li>
			<li>
				<a href="/search" class="disabled">
					<i class="fas fa-plus fa-3x service-logo"></i>
					<div class="feed-name">New Service</div>
				</a>
			</li>
		</ul>
	</div>
</div>

<section id="stepThree" class="section">
	<div class="container text-center">
		<div class="badge badge-pill badge-secondary mb-4">3. Quick review</div>
		<div class="blend-services">
			<div class="service selected">
				<i class="fab fa-freebsd fa-4x service-logo"></i>
				<div>My Service Name</div>
			</div>
			<a href="javascript:void(0)" class="integration">
				<i class="fas fa-ellipsis-h fa-3x service-logo"></i>
			</a>
			<a href="javascript:void(0)" class="service">
				<i class="fas fa-plus-circle fa-4x service-logo"></i>
				<div>Select Service</div>
			</a>
		</div>
	</div>
</section>

<div id="stepFour" class="section">
	<div class="container text-center">
		
		<div class="badge badge-pill badge-secondary mx-auto mb-4">4. 2nd service</div>
		
		<ul class="list">
			<li>
				<a href="javascript:void(0)" class="selected">
					<i class="fab fa-freebsd fa-3x service-logo"></i>
					<div class="feed-name">My Service Name</div>
					<div class="state"><i class="fa fa-circle fa-xs"></i> On</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-grav fa-3x service-logo"></i>
					<div class="feed-name">Other Service Name</div>
					<div class="state"><i class="fa fa-circle fa-xs"></i> On</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="disabled">
					<i class="fab fa-grunt fa-3x service-logo"></i>
					<div class="feed-name">Bidvest McCarthy Toyota</div>
					<div class="state"><i class="fa fa-circle fa-xs"></i> Off</div>
				</a>
			</li>
			<li>
				<a href="/search" class="disabled">
					<i class="fas fa-plus fa-3x service-logo"></i>
					<div class="feed-name">New Service</div>
				</a>
			</li>
		</ul>
	</div>
</div>

<section id="stepFive" class="section">
	<div class="container text-center">
		<div class="badge badge-pill badge-secondary mb-4">5. Integration</div>
		<div class="blend-services">
			<div class="service selected">
				<i class="fab fa-freebsd fa-4x service-logo"></i>
				<div>My Service Name</div>
			</div>
			<a href="javascript:void(0)" class="integration">
				<i class="fas fa-ellipsis-h fa-3x service-logo"></i>
			</a>
			<div class="service selected">
				<i class="fab fa-grav fa-4x service-logo"></i>
				<div>Other Service Name</div>
			</div>
		</div>
	</div>
</section>

<div id="stepSix" class="section">
	<div class="container text-center">
		
		<div class="badge badge-pill badge-secondary mx-auto mb-4">6. Choose integration</div>
		
		<ul class="list integration">
			<li>
				<a href="javascript:void(0)">
					<i class="fas fa-clock fa-3x service-logo"></i>
					<div class="feed-name">Use Latest</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fas fa-copy fa-3x service-logo"></i>
					<div class="feed-name">Always Import</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fas fa-tasks fa-3x service-logo"></i>
					<div class="feed-name">Keep changes</div>
				</a>
			</li>
		</ul>
	</div>
</div>

<section id="stepSeven" class="section">
	<div class="container text-center">
		<div class="badge badge-pill badge-secondary mb-4">7. Review</div>
		<div class="blend-services active">
			<div class="service selected">
				<i class="fab fa-freebsd fa-4x service-logo"></i>
				<div>My Service Name</div>
			</div>
			<div class="integration selected">
				<i class="fas fa-copy fa-3x service-logo"></i>
			</div>
			<div class="service selected">
				<i class="fab fa-grav fa-4x service-logo"></i>
				<div>Other Service Name</div>
			</div>
		</div>
		<div class="text-center mt-4">
        	<a href="javascript:void(0)" class="btn btn-primary" id="finialise">Finish</a>
		</div>
	</div>
</section>

<section id="stepFinal" class="section">
	<div class="container text-center">
		<div class="badge badge-pill badge-secondary mb-4">8. Finish</div>
		<div class="row">
			<div class="col-md-8 mx-auto">
				<div class="card mb-4">
					<div class="card-body">
						<div class="blend-services active">
							<div class="service selected">
								<i class="fab fa-freebsd fa-4x service-logo"></i>
								<div>My Service Name</div>
							</div>
							<div class="connection"></div>
							<div class="service selected">
								<i class="fab fa-grav fa-4x service-logo"></i>
								<div>Other Service Name</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<ul>
							<li>Toggle <a href="">ON</a></li>
							<li>Created on Dec 16 2017</li>
							<li>Never run</li>
							<li>This Applet usually runs within a few seconds</li>
							<li><a href="">Check Now</a></li>
							<li><a href=""><i class="fa fa-pencil-alt"></i> Edit</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<script>
		$('#searchService a').click( function() {
		    $('#connectHere').removeClass('d-none')
		    $('#searchService').addClass('d-none')
		});
		
		$('#backToSearch').click( function() {
		    $('#connectHere').addClass('d-none')
		    $('#searchService').removeClass('d-none')
		});
	</script>
}