@{
    ViewData["Title"] = "New Blend";
}

<div class="container">
	<section class="wizard-card" id="wizard">
	<form action="" method="">
		
		<div class="wizard-header">
	    	<h3 class="wizard-title py-4 mb-0">Make a smoothie</h3>
		</div>
			                    	
		<div class="wizard-navigation">
			<ul class="nav nav-pills" role="tablist">
                <!--<li><a href="#stepOne" data-toggle="tab" role="tab" id="stepOne-tab">Setup blend</a></li>-->
                <li><a href="#stepTwo" data-toggle="tab" role="tab" id="stepTwo-tab">1st ingredient</a></li>
                <!--<li><a href="#stepThree" data-toggle="tab" role="tab" id="stepThree-tab">Quick review</a></li>-->
                <li><a href="#stepFour" data-toggle="tab" role="tab" id="stepFour-tab">2nd ingredient</a></li>
                <!--<li><a href="#stepFive" data-toggle="tab" role="tab" id="stepFive-tab">Blend it</a></li>-->
                <li><a href="#stepSix" data-toggle="tab" role="tab" id="stepSix-tab">Which blade</a></li>
                <li><a href="#stepSeven" data-toggle="tab" role="tab" id="stepSeven-tab">The lid?</a></li>
            </ul>
		</div>
		
		
		
			<div class="tab-content">
			
				<!--<section id="stepOne" class="tab-pane fade show active" role="tabpanel">
					<div class="container text-center">
						<div class="badge badge-pill badge-secondary mb-4">1. Setup blend</div>
						<div class="mixer">
							<a href="javascript:void(0)" class="ingedient to-choose">
								<i class="fas fa-plus fa-3x"></i>
								<h6>Select Ingredient</h6>
							</a>
							<a href="javascript:void(0)" class="blade to-choose">
								<i class="fas fa-plus fa-2x"></i>
							</a>
							<a href="javascript:void(0)" class="ingedient to-choose">
								<i class="fas fa-plus fa-3x"></i>
								<h6>Select Ingredient</h6>
							</a>
						</div>
					</div>
				</section>-->
				
				<section id="stepTwo" class="tab-pane fade" role="tabpanel">
					<div class="container text-center">
						
						<div class="badge badge-pill badge-secondary mx-auto mb-4">2. 1st service</div>
						
						<ul class="list">
							<li>
								<a href="javascript:void(0)">
									<i class="fab fa-freebsd fa-3x service-logo"></i>
									<h6 class="feed-name">My Service Name</h6>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<i class="fab fa-grav fa-3x service-logo"></i>
									<h6 class="feed-name">Other Service Name</h6>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<i class="fab fa-codepen fa-3x service-logo"></i>
									<h6 class="feed-name">Third Service Name</h6>
								</a>
							</li>
							<li>
								<div class="disabled" data-toggle="tooltip" data-placement="top" title="Not connected">
									<i class="fab fa-grunt fa-3x service-logo"></i>
									<h6 class="feed-name">Bidvest McCarthy Toyota</h6>
								</div>
							</li>
							<li>
								<a href="/search" class="new">
									<i class="fas fa-plus fa-3x service-logo"></i>
									<h6 class="feed-name">New Service</h6>
								</a>
							</li>
						</ul>
					</div>
				</section>
				
				<!--<section id="stepThree" class="tab-pane fade" role="tabpanel">
					<div class="container text-center">
						<div class="badge badge-pill badge-secondary mb-4">3. Quick review</div>
						<div class="mixer">
							<div class="ingedient selected">
								<i class="fab fa-freebsd fa-3x"></i>
								<h6>Service Name</h6>
							</div>
							<a href="javascript:void(0)" class="blade to-choose">
								<i class="fas fa-plus fa-2x"></i>
							</a>
							<a href="javascript:void(0)" class="ingedient to-choose">
								<i class="fas fa-plus fa-3x"></i>
								<h6>Select Ingredient</h6>
							</a>
						</div>
					</div>
				</section>-->
				
				<section id="stepFour" class="tab-pane fade" role="tabpanel">
					<div class="container text-center">
						
						<div class="badge badge-pill badge-secondary mx-auto mb-4">4. 2nd service</div>
						
						<ul class="list">
							<li>
								<div class="selected" data-toggle="tooltip" data-placement="top" title="Selected ingredient">
									<i class="fab fa-freebsd fa-3x service-logo"></i>
									<h6 class="feed-name">My Service Name</h6>
								</div>
							</li>
							<li>
								<a href="javascript:void(0)">
									<i class="fab fa-grav fa-3x service-logo"></i>
									<h6 class="feed-name">Other Service Name</h6>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<i class="fab fa-codepen fa-3x service-logo"></i>
									<h6 class="feed-name">Third Service Name</h6>
								</a>
							</li>
							<li>
								<div class="disabled" data-toggle="tooltip" data-placement="top" title="Not connected">
									<i class="fab fa-grunt fa-3x service-logo"></i>
									<h6 class="feed-name">Bidvest McCarthy Toyota</h6>
								</div>
							</li>
							<li>
								<a href="/search">
									<i class="fas fa-plus fa-3x service-logo"></i>
									<h6 class="feed-name">New Service</h6>
								</a>
							</li>
						</ul>
					</div>
				</section>
				
				<!--<section id="stepFive" class="tab-pane fade" role="tabpanel">
					<div class="container text-center">
						<div class="badge badge-pill badge-secondary mb-4">5. Integration</div>
						<div class="mixer">
							<div class="ingedient selected">
								<i class="fab fa-freebsd fa-3x"></i>
								<h6>Service Name</h6>
							</div>
							<a href="javascript:void(0)" class="blade to-choose">
								<i class="fas fa-plus fa-2x"></i>
							</a>
							<div class="ingedient selected">
								<i class="fab fa-grav fa-3x"></i>
								<h6>Another Service</h6>
							</div>
						</div>
					</div>
				</section>-->
				
				<section id="stepSix" class="tab-pane fade" role="tabpanel">
					<div class="container text-center">
						
						<div class="badge badge-pill badge-secondary mx-auto mb-4">6. Choose integration</div>
						
						<ul class="list">
							<li>
								<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Use latest changes">
									<i class="fas fa-clock fa-3x service-logo"></i>
									<h6 class="feed-name">Use Latest</h6>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Overwrite with latest">
									<i class="fas fa-copy fa-3x service-logo"></i>
									<h6 class="feed-name">Always Import</h6>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Keep changes">
									<i class="fas fa-tasks fa-3x service-logo"></i>
									<h6 class="feed-name">Keep changes</h6>
								</a>
							</li>
						</ul>
					</div>
				</section>
				
				<section id="stepSeven" class="tab-pane fade" role="tabpanel">
					<div class="container text-center">
						<div class="badge badge-pill badge-secondary mb-4">7. Review and Finish</div>
						
						<div class="mixer mb-4">
							<div class="ingedient selected">
								<i class="fab fa-freebsd fa-3x"></i>
								<h6>Service Name</h6>
							</div>
							<div class="blade blade-left blade-right selected">
								<i class="fas fa-clock fa-2x"></i>
							</div>
							<div class="ingedient selected">
								<i class="fab fa-grav fa-3x"></i>
								<h6>Another Service</h6>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6 mx-auto text-center">
								<h3>Name your creation</h3>
								<input type="text" class="form-control form-control-lg" id="" placeholder="ex. Cocktail Mix...">
							</div>
						</div>
					</div>
				</section>
			
			</div>
			
			<div class="wizard-footer">
				<div class="row">
			        <div class="col">
			            <input type='button' class='btn btn-previous btn-fill btn-secondary btn-wd' name='previous' value='Previous' />
			        </div>
			        <div class="col text-right">
<!-- 			            <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next' value='Next' /> -->
			            <a href="/blend" class='btn btn-finish btn-fill btn-primary btn-wd' name='finish'>Blend it!</a>
			        </div>
				</div>
			</div>
		
		
	
	</form>
	</section>
</div>

@section Scripts {
	<script src="~/js/jquery.bootstrap.wizard.js"></script>
	<script src="~/js/jquery.settings.wizard.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script>
        
    </script>
}