@{
    ViewData["Title"] = "Search/Create";
}
<div class="section" id="searchService">
	<div class="container">
		
		<div class="row mb-4">
			<div class="col text-center">
				<div class="badge badge-pill badge-secondary mx-auto">Step 1 of 2</div>
			</div>
		</div>
		
		<div class="row mb-4">
			<div class="col-md-6 text-center mb-2">
				<div class="search mb-3">
					<input type="text" class="form-control form-control-lg" id="" placeholder="search services...">
				</div>
			</div>
			<div class="col-md-6 text-center mb-2">
				<div class="paste mb-3">
					<input type="text" class="form-control form-control-lg" id="" placeholder="api url...">
				</div>
			</div>
		</div>
		
		<ul class="list">
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-500px fa-3x service-logo"></i>
					<div class="feed-name">Mascus</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-adn fa-3x service-logo"></i>
					<div class="feed-name">IX</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-apple fa-3x service-logo"></i>
					<div class="feed-name">Toyota</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-avianex fa-3x service-logo"></i>
					<div class="feed-name">Private Property</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-cpanel fa-3x service-logo"></i>
					<div class="feed-name">Evernote</div>
				</a>
			</li>
			<li class="free">
				<a href="javascript:void(0)">
					<i class="fab fa-deviantart fa-3x service-logo"></i>
					<div class="feed-name">Ananzi</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-linode fa-3x service-logo"></i>
					<div class="feed-name">Indeed</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-lyft fa-3x service-logo"></i>
					<div class="feed-name">Junk Mail</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-mizuni fa-3x service-logo"></i>
					<div class="feed-name">Imperial Select</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-meetup fa-3x service-logo"></i>
					<div class="feed-name">Job Mail</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-microsoft fa-3x service-logo"></i>
					<div class="feed-name">Hyundai</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-napster fa-3x service-logo"></i>
					<div class="feed-name">Property 24</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-npm fa-3x service-logo"></i>
					<div class="feed-name">Dunquip</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-opencart fa-3x service-logo"></i>
					<div class="feed-name">Truck and Trailer</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-paypal fa-3x service-logo"></i>
					<div class="feed-name">Auto Mart</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-playstation fa-3x service-logo"></i>
					<div class="feed-name">Car Find</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-phoenix-framework fa-3x service-logo"></i>
					<div class="feed-name">Barloworld</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-phoenix-framework fa-3x service-logo"></i>
					<div class="feed-name">Barloworld Commercial</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-react fa-3x service-logo"></i>
					<div class="feed-name">Call a Car</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-sass fa-3x service-logo"></i>
					<div class="feed-name">Vehicle Traders</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-rendact fa-3x service-logo"></i>
					<div class="feed-name">Auto SLM</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-rocketchat fa-3x service-logo"></i>
					<div class="feed-name">OLX</div>
				</a>
			</li>
			<li class="free">
				<a href="javascript:void(0)">
					<i class="fab fa-replyd fa-3x service-logo"></i>
					<div class="feed-name">Gumtree</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-sellcast fa-3x service-logo"></i>
					<div class="feed-name">Hyundai</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-simplybuilt fa-3x service-logo"></i>
					<div class="feed-name">Carshop Hub</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-snapchat fa-3x service-logo"></i>
					<div class="feed-name">DealerStockControl</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-steam fa-3x service-logo"></i>
					<div class="feed-name">Vmg</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-sticker-mule fa-3x service-logo"></i>
					<div class="feed-name">Imperial Auto</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-strava fa-3x service-logo"></i>
					<div class="feed-name">Auto Fuzion</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-500px fa-3x service-logo"></i>
					<div class="feed-name">Mascus Exports</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-studiovinari fa-3x service-logo"></i>
					<div class="feed-name">Dunquip</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-stumbleupon fa-3x service-logo"></i>
					<div class="feed-name">Autoxloo</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-adn fa-3x service-logo"></i>
					<div class="feed-name">IX Trucks</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-twitch fa-3x service-logo"></i>
					<div class="feed-name">ClearAsset</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-xbox fa-3x service-logo"></i>
					<div class="feed-name">Integra</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="fab fa-adn fa-3x service-logo"></i>
					<div class="feed-name">IX New</div>
				</a>
			</li>
				
		</ul>
		
		<h4 class="text-center">Find by industry/category</h4>
		
		<div class="industries">		
			<div><a href="">Agriculture and Mining</a></div>		
			<div><a href="">Business Services</a></div>		
			<div><a href="">Computer and Electronics</a></div>		
			<div><a href="">Consumer Services</a></div>		
			<div><a href="">Education</a></div>		
			<div><a href="">Energy and Utilities</a></div>		
			<div><a href="">Financial Services</a></div>		
		    <div><a href="">Government</a></div>		
			<div><a href="">Health, Pharmaceuticals, and Biotech</a></div>		
			<div><a href="">Manufacturing</a></div>		
			<div><a href="">Media and Entertainment</a></div>		
			<div><a href="">Non-profit</a></div>		
			<div><a href="">Real Estate and Construction</a></div>		
			<div><a href="">Retail</a></div>		
			<div><a href="">Automobile Dealers</a></div>		
			<div><a href="">Software and Internet</a></div>		
			<div><a href="">Telecommunications</a></div>		
			<div><a href="">Transportation and Storage</a></div>		
			<div><a href="">Travel Recreation and Leisure</a></div>		
			<div><a href="">Wholesale and Distribution</a></div>		
		</div>
		
		<div class="text-center">
			<p class="mx-auto"><a href="javascript:void(0)">Show all Services</a></p>
			<p class="mx-auto">Couldn't find what you were looking for? <a href="javascript:void(0)">Suggest a new Service!</a></p>
		</div>
		
	</div>
</div>


<section id="connectHere" class="section d-none">
	<div class="container">
		<button type="button" class="btn btn-outline-secondary btn-round back-btn" id="backToSearch"><i class="fa fa-chevron-left"></i> Back</button>
		<div class="row mb-4">
			<div class="col-md-6 mx-auto text-center">
				<div class="badge badge-pill badge-secondary mx-auto">Step 2 of 2</div>
				<h4 class="text-center mt-4">Account URL</h4>
				<div class="mb-4">
					<input type="text" class="form-control form-control-lg" id="" placeholder="https://...">
				</div>
				<h4 class="text-center">Dealer ID</h4>
				<div class="mb-4">
					<input type="text" class="form-control form-control-lg" id="" placeholder="id...">
				</div>
				<h4 class="text-center">Log in</h4>
				<div class="large-input mb-4">
					<input type="text" class="form-control form-control-lg mb-2" id="" placeholder="username...">
					<input type="text" class="form-control form-control-lg" id="" placeholder="password...">
				</div>
				<a href="/service" class="btn btn-primary btn-lg mt-2">Connect</a>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<script src="~/js/list.min.js"></script>
	<script>
		var options = {
		  valueNames: [ 'feed-name' ]
		};
		var userList = new List('searchService', options);
	</script>
	<script src="~/js/typeahead.jquery.min.js"></script>
	<script src="~/js/typeahead.services.js"></script>
	
	<script>
		$('#searchService a').click( function() {
		    $('#connectHere').removeClass('d-none')
		    $('#searchService').addClass('d-none')
		});
		
		$('#backToSearch').click( function() {
		    $('#connectHere').addClass('d-none')
		    $('#searchService').removeClass('d-none')
		});
	</script>
}