@{
    ViewData["Title"] = "Search/Create";
}

<div class="section main-services">
	<div class="container">
		
		<div id="searchService">
			
			<div class="row mb-4">
				<div class="col text-center">
					<div class="badge badge-pill badge-secondary mx-auto">Step 1 of 2</div>
				</div>
			</div>
		
			<div class="row mb-4">
				<div class="col-md-3 text-center mb-2">
					<div class="search mb-3">
						<input type="text" class="form-control form-control-lg" id="" placeholder="search services...">
					</div>
				</div>
				<div class="col-md-3 text-center mb-2">
					<div class="radio-inline">
						<label>
							<input class="filter-all" type="radio" value="all" name="service" id="service-all" checked /> All
						</label>
					</div>
					<div class="radio-inline">
						<label>
							<input class="filter" type="radio" value="send" name="service" id="service-send" /> Send Only
						</label>
					</div>
				</div>
				<div class="col-md-3 text-center mb-2">
					<button class="btn btn-danger" onclick="resetList();">Clear</button>
				</div>
				<div class="col-md-3 text-center mb-2">
					<div class="paste mb-3">
						<input type="text" class="form-control form-control-lg" id="" placeholder="api url...">
					</div>
				</div>
			</div>
				
			<ul class="list">
				<li data-service="send">
					<a href="javascript:void(0)" class="disabled">
						<img src="~/images/logos/mascus.svg">
						<h6 class="feed-name">Mascus</h6>
					</a>
				</li>
				<li data-service="send">
					<a href="javascript:void(0)" class="disabled">
						<img src="~/images/logos/ix.svg">
						<h6 class="feed-name">IX</h6>
					</a>
				</li>
				<li data-service="send">
					<a href="javascript:void(0)" class="disabled">
						<img src="~/images/logos/toyota.svg">
						<h6 class="feed-name">Toyota</h6>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="~/images/logos/privateproperty.svg">
						<h6 class="feed-name">Private Property</h6>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="~/images/logos/evernote.svg">
						<h6 class="feed-name">Evernote</h6>
					</a>
				</li>
				<li class="free">
					<a href="javascript:void(0)">
						<img src="~/images/logos/ananzi.svg">
						<h6 class="feed-name">Ananzi</h6>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="~/images/logos/indeed.svg">
						<h6 class="feed-name">Indeed</h6>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" class="disabled">
						<img src="~/images/logos/junkmail.svg">
						<h6 class="feed-name">Junk Mail</h6>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="~/images/logos/imperialselect.svg">
						<h6 class="feed-name">Imperial Select</h6>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="~/images/logos/jobmail.svg">
						<h6 class="feed-name">Job Mail</h6>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="~/images/logos/hyundai.svg">
						<h6 class="feed-name">Hyundai</h6>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="~/images/logos/property24.svg">
						<h6 class="feed-name">Property 24</h6>
					</a>
				</li>
				<li data-service="send">
					<a href="javascript:void(0)">
						<img src="~/images/logos/dunquip.svg">
						<h6 class="feed-name">Dunquip</h6>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="~/images/logos/truckandtrailer.svg">
						<h6 class="feed-name">Truck and Trailer</h6>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" class="disabled">
						<img src="~/images/logos/automart.svg">
						<h6 class="feed-name">Auto Mart</h6>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="~/images/logos/carfind.svg">
						<h6 class="feed-name">Car Find</h6>
					</a>
				</li>
				<li data-service="send">
					<a href="javascript:void(0)">
						<img src="~/images/logos/barloworld.svg">
						<h6 class="feed-name">Barloworld</h6>
					</a>
				</li>
				<li data-service="send">
					<a href="javascript:void(0)">
						<img src="~/images/logos/barloworld.svg">
						<h6 class="feed-name">Barloworld Commercial</h6>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="~/images/logos/autoslm.svg">
						<h6 class="feed-name">Auto SLM</h6>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" class="disabled">
						<img src="~/images/logos/olx.svg">
						<h6 class="feed-name">OLX</h6>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="~/images/logos/gumtree.svg">
						<h6 class="feed-name">Gumtree</h6>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="~/images/logos/imperialauto.svg">
						<h6 class="feed-name">Imperial Auto</h6>
					</a>
				</li>
				<li data-service="send">
					<a href="javascript:void(0)">
						<img src="~/images/logos/mascus.svg">
						<h6 class="feed-name">Mascus Exports</h6>
					</a>
				</li>
				<li data-service="send">
					<a href="javascript:void(0)">
						<img src="~/images/logos/dunquip.svg">
						<h6 class="feed-name">Dunquip</h6>
					</a>
				</li>
				<li data-service="send">
					<a href="javascript:void(0)">
						<img src="~/images/logos/ix.svg">
						<h6 class="feed-name">IX Trucks</h6>
					</a>
				</li>
				<li data-service="send">
					<a href="javascript:void(0)">
						<img src="~/images/logos/ix.svg">
						<h6 class="feed-name">IX New</h6>
					</a>
				</li>
			</ul>
				
			
			<div class="no-result d-none">No Results</div>
			<ul class="pagination d-none"></ul>
			
			
		</div>
			
		<h4 class="text-center">Find by industry/category</h4>
		
		<div class="industries">		
			<div><a href="/search-category">Agriculture and Mining</a></div>		
			<div><a href="/search-category">Business Services</a></div>		
			<div><a href="/search-category">Computer and Electronics</a></div>		
			<div><a href="/search-category">Consumer Services</a></div>		
			<div><a href="/search-category">Education</a></div>		
			<div><a href="/search-category">Energy and Utilities</a></div>		
			<div><a href="/search-category">Financial Services</a></div>		
		    <div><a href="/search-category">Government</a></div>		
			<div><a href="/search-category">Health, Pharmaceuticals, and Biotech</a></div>		
			<div><a href="/search-category">Manufacturing</a></div>		
			<div><a href="/search-category">Media and Entertainment</a></div>		
			<div><a href="/search-category">Non-profit</a></div>		
			<div><a href="/search-category">Real Estate and Construction</a></div>		
			<div><a href="/search-category">Retail</a></div>		
			<div><a href="/search-category">Automobile Dealers</a></div>		
			<div><a href="/search-category">Software and Internet</a></div>		
			<div><a href="/search-category">Telecommunications</a></div>		
			<div><a href="/search-category">Transportation and Storage</a></div>		
			<div><a href="/search-category">Travel Recreation and Leisure</a></div>		
			<div><a href="/search-category">Wholesale and Distribution</a></div>		
		</div>
		
		<div class="text-center">
			<p class="mx-auto"><a href="/search-all">Show all Services</a></p>
			<p class="mx-auto">Couldn't find what you were looking for? <a href="/suggest-service">Suggest a new Service!</a></p>
		</div>
			
	</div>
</div>


<section id="connectHere" class="section d-none">
	<div class="container">
		<button type="button" class="btn btn-outline-secondary top-left-btn" id="backToSearch"><i class="fa fa-chevron-left"></i> Back</button>
		<div class="row mb-4">
			<div class="col-md-6 mx-auto text-center">
				
				<div class="mb-3">
					<i class="icon-blender fa-3x"></i>
					<i class="fas fa-exchange-alt fa-2x text-muted"></i>
					<img src="~/images/logos/automart.svg" style="height: 48px;vertical-align: top;">
				</div>
				
				<div class="badge badge-pill badge-secondary mx-auto">Step 2 of 2</div>
				<h4 class="text-center mt-4">Account URL</h4>
				<div class="mb-4">
					<input type="text" class="form-control form-control-lg" id="" placeholder="https://...">
				</div>
				<h4 class="text-center">Dealer ID</h4>
				<div class="mb-4">
					<input type="text" class="form-control form-control-lg" id="" placeholder="id...">
				</div>
				<h4 class="text-center">Log in</h4>
				<div class="large-input mb-4">
					<input type="text" class="form-control form-control-lg mb-2" id="" placeholder="username...">
					<input type="text" class="form-control form-control-lg" id="" placeholder="password...">
				</div>
				<a href="/service-automart" class="btn btn-primary mt-2">Connect</a>
			</div>
		</div>
	</div>
</section>


@section Scripts {
	<script src="~/js/list.min.js"></script>
	<script>
		var options = {
			valueNames: [
				'feed-name',
				{ data: ['service']}
			],
			page: 40,
			pagination: false
		};
		var userList = new List('searchService', options);
		
		function resetList(){
			userList.search();
			userList.filter();
			userList.update();
			$(".filter-all").prop('checked', true);
			$('.filter').prop('checked', false);
			$('.search').val('');
			//console.log('Reset Successfully!');
		};
		  
		function updateList(){
		  var values_service = $("input[name=service]:checked").val();
			console.log(values_service);
		
			userList.filter(function (item) {
				var serviceFilter = false;
				
				if(values_service == "all")
				{ 
					serviceFilter = true;
				} else {
					serviceFilter = item.values().service == values_service;
					
				}
				return serviceFilter
			});
			userList.update();
			//console.log('Filtered: ' + values_service);
		}
		                               
		$(function(){
		  //updateList();
		  $("input[name=service]").change(updateList);
			
			userList.on('updated', function (list) {
				if (list.matchingItems.length > 0) {
					$('.no-result').hide()
				} else {
					$('.no-result').show()
				}
			});
		});
	</script>
	
	<script>
		$('#searchService .list a').click( function() {
		    $('#connectHere').removeClass('d-none')
		    $('.main-services').addClass('d-none')
		});
		
		$('#backToSearch').click( function() {
		    $('#connectHere').addClass('d-none')
		    $('.main-services').removeClass('d-none')
		});
	</script>
}