@{
    ViewData["Title"] = "Suggest a service";
}
<div class="section">
	<div class="container">
		
		<div class="row mb-4">
			<div class="col text-center">
				<h4>Suggest a new service</h4>
			</div>
		</div>
		
		<div class="row mb-4">
			<div class="col-md-6 mx-auto mb-2">
				<div class="mb-3">
					<label>What new service would you like to see on Blender?</label>
					<input type="text" class="form-control form-control-lg" id="" placeholder="">
				</div>
				<div class="mb-3">
					<label>How often do you use this service?</label>
					<input type="text" class="form-control form-control-lg" id="" placeholder="">
				</div>
				<div class="text-center">
					<a href="/search" class="btn btn-primary btn-lg">Let us know</a>
				</div>
			</div>
		</div>
		
	</div>
</div>



@section Scripts {
	
}