.wizard-card {
	height: calc(100vh - 85px); 
	position: relative;
	.wizard-header{
        text-align: center;
    }
	.wizard-navigation {
		position: relative;
		.nav-pills {
		    background-color: rgba(200, 200, 200, 0.2);
		    li {
			    text-align: center;
			    a {
				    color: $body-color;
				    font-size: $font-size-sm;
			    }
		    }
		}
	}
	.moving-tab{
        position: absolute;
        text-align: center;
        -webkit-font-smoothing: subpixel-antialiased;
        top:-4px;
        left: 0px;
        border-radius: 4rem;
        color: $white;
        cursor: pointer;
        padding: 4px 0;
        background: $primary;
        box-shadow: 0 16px 26px -10px rgba($primary, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba($primary, 0.2);
        font-family: $headings-font-family;
    }
    .btn-finish,
    .btn.disabled {
        display: none;
    }
    .btn-finish {
	    // overwrite the 'display:inline'
	    position: relative;
	    top: 8px;
    }
    .tab-content{
        min-height: 400px;
        padding: 40px 0;
        .tab-pane {
	        padding: 10px 0;
        }
    }
}


.my-blend {
	.blend-services {
		.service,
		.integration {
			background: transparent;
			border: $border-width solid rgba($white, 0.2);
			div {
			    color: $white;
			}
		}
	}
}

.inline-connection {
	div {
		display: block;
		float: left;
		width: 32px;
		text-align: center;
		line-height: 34px;
	}
	.connect {
		margin: 0 20px;
		position: relative;
		&:before,
		&:after {
			content: "";
		    position: absolute;
		    width: 20px;
			height: 8px;
			top: calc(50% - 4px);
		    display: block;
		    -webkit-mask: url("../images/arrow.svg");
		    mask: url("../images/arrow.svg");
		    transition-property: opacity,transform;
		    transition-duration: .5s;
		    transition-timing-function: cubic-bezier(.25,.46,.45,.94);
		    transition-delay: .3s;
		    will-change: opacity,transform;
			background: $border-color;
			animation: move-arrows .5s linear infinite;
		}
		&:before {
		    left: -20px;
		}
		&:after {
			right: -20px;
		}
	}
}

.tab-container {
	&.blend {
		margin-top: -41px;
		.nav-tabs {
			border: none;
			.nav-link {
				border: none;
				color: $white;
				&:before {
					background-color: transparent;
				}
				&.active {
					color: $body-color;
				}
			}
		}
	}
}