.blend-services {
	position: relative;
	.service,
	.integration {
		width: 170px;
		height: 170px;
		display: inline-block;
		border: $border-width dashed $border-color;
		border-radius: $border-radius-lg;
		background: $white;
		.service-logo {
		    display: block;
		    margin: 0 auto;
		    max-width: 100%;
		    height: 100px;
		    line-height: 100px;
		}
		div {
		    display: block;
		    margin-bottom: 1rem;
		    color: $gray-500;
		}
		&.selected {
			border-style: solid;
			border-color: $body-color;
			div {
				color: $body-color;
			}
		}
	}
	.integration {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		.service-logo {
			height: 55px;
		    line-height: 55px;
		}
		&.selected {
			margin: 0 50px;
			position: relative;
			&:before,
			&:after {
				content: "";
			    position: absolute;
			    width: 50px;
				height: 8px;
				top: calc(50% - 4px);
			    display: block;
			    -webkit-mask: url("../images/arrow.svg");
			    mask: url("../images/arrow.svg");
			    transition-property: opacity,transform;
			    transition-duration: .5s;
			    transition-timing-function: cubic-bezier(.25,.46,.45,.94);
			    transition-delay: .3s;
			    will-change: opacity,transform;
				background: $border-color;
				animation: move-arrows .5s linear infinite;
		    }
		    &:before {
			    left: -54px;
			}
			&:after {
				right: -54px;
			}
		}
	}

	.connection {
		margin: 0 50px;
		position: relative;
		display: inline-block;
		width: 52px;
		height: 52px;
		border-radius: 50%;
		border: $border-width solid rgba($white, 0.2);
		line-height: 60px;
		top: -20px;
		&:before,
		&:after {
			content: "";
		    position: absolute;
		    width: 50px;
			height: 8px;
			top: calc(50% - 4px);
		    display: block;
		    -webkit-mask: url("../images/arrow.svg");
		    mask: url("../images/arrow.svg");
		    transition-property: opacity,transform;
		    transition-duration: .5s;
		    transition-timing-function: cubic-bezier(.25,.46,.45,.94);
		    transition-delay: .3s;
		    will-change: opacity,transform;
			background: $border-color;
			animation: move-arrows .5s linear infinite;
	    }
	    &:before {
		    left: -54px;
		}
		&:after {
			right: -54px;
		}
	}
}


@keyframes move-arrows {
	to {
		-webkit-mask-position:11px 0;
		mask-position:11px 0
	}
}
@keyframes move-arrows-delayed {
	to {
		-webkit-mask-position:330px 0;
		mask-position:330px 0
	}
}