.shift-up {
	margin-top: -50px;
}

.activity {
    width: 100%;
    margin: 0 0 40px 0;
    padding: 0;
    li {
	    display: block;
	    padding: $spacer $spacer $spacer ($spacer*6);
	    background: $white;
	    border-radius: $border-radius-lg;
	    position: relative;
	    margin-bottom: $spacer;
	    div {
		    position: absolute;
		    left: $spacer;
		    top: 43px;
		    height: 50px;
		    width: 50px;
		    border-radius: 50%;
		    background: $gray-200;
		    margin-top: -25px;
		    text-align: center;
		    svg {
			    line-height: 50px;
			    height: 50px;
		    }
	    }
	    h3 {
		    line-height: 25px;
	    }
	    p {
		    margin: 0;
	    }
	}
}